.img-produto{
    width: 100%;
}
.botaosalvar{
    background: rgb(252,193,18);
    background: radial-gradient(circle,  rgb( 208,56,56) 0%, rgb(234,70,58,1) 100%);
    padding: 10px 20px;
    border: none;
    font-weight: bold ;
}
.botaonovo{
    background: rgb(252,193,18);
    background: radial-gradient(circle,  rgb( 211,199,199) 0%, rgb(160, 154,154) 100%);
    padding: 10px 20px;
    border: none;
    font-weight: bold ;
}
.desabilitado{
    color: gray
}